AZURE_ENDPOINT=jdbc:postgresql://localhost:5432/matchservice
DB_USERNAME=postgres
DB_PASSWORD=postgres
MAPBOX_ACCESS_TOKEN=

AZURE_COMPUTER_VISION_ENDPOINT=
AZURE_COMPUTER_VISION_KEY=
IMAGE_MODERATION_ENABLED=true
IMAGE_MODERATION_ADULT_THRESHOLD=0.70
IMAGE_MODERATION_RACY_THRESHOLD=0.70
IMAGE_MODERATION_GORE_THRESHOLD=0.70
IMAGE_MAX_SIZE_MB=5
